.footer-wrap{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    padding:4rem;
    padding-bottom:0;
}

.home6{
    height:90vh;
}

.f-wrap1{
    height:60%;
    width:100%;
    display:flex;
}



.f-vert1, .f-vert2{
    width:50%;
    height:100%;
}

.f-vert1 img{
    height:6rem;
    width:6rem;
    object-fit: cover;
}

.f-vert1 h1{
    font-size:4rem;
    margin:0;
    font-weight: 600;
}

.f-vert1 h2{
    font-weight: 600;
    color:#a6a6a6;
    margin:0.5rem 0 0.8rem 0;
}

.f-vert1 input{
    margin-top:0.5rem;
    border:none;
    background-color: black;
    width:100%;
    color:white;
}

.f-vert1 input:focus{
  outline: none;
}

.email-wrap{
    width:80%;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
}

input::placeholder{
    color: rgb(190, 190, 190);
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    letter-spacing:0.1rem;
}

.f-vert1 p{
    width:80%;
    font-size: 0.9rem;
    line-height: 1.4rem;

}

.f-vert2{
    display:flex;
    align-items: end;
    gap:2rem;
    flex-direction: column;
}

.f-div1, .f-div-copy{
    border:solid 3px white;
    padding:1.6rem;
    width:80%;
    height:15rem;
    position: relative; 
}

.f-div1{
    background-color: black;
    z-index:1;
    transform-style: preserve-3d;
}

.f-div-copy{
    width:100%;
    height:100%;
    transform: translateZ(-1px);
    position: absolute;
    bottom:-1rem;
    background-color: white;
    left: -1rem;
    z-index: -100;
    
}

.cont-svg-div{
    width:100%;
    display:flex;
    align-items: center;
    gap:0.6rem;
}

.f-div1 h2{
    margin:0;
    font-weight: 600;
}

.f-div1 h3{
    font-weight: 300;
    font-size: 0.8rem;

}

.mail-div{
    border: 0.2rem solid white;
    border-radius: 0.8rem;
    display: flex;

}

.mail-div img{
    background-color: white;
    padding: 0 2rem;
    border-radius: 0.5rem;
}

.mail-div h4{
    margin:0.8rem;
    font-weight:400;
    font-size: 0.95rem;
}

.grad-line{
    width:95%;
    padding:0.5px;
    margin:4rem 0 1rem 0;
    background:linear-gradient(to right, black, white, black);
}

.f-icon-wrap img{
    width:2.5rem;
    height:2.5rem;
}

.f-div2 p{
    text-align:center;
    margin:0;
   width:100%;
   font-weight:300;
    font-size:0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
}

.f-div2 h3{
    text-align:center;
    font-weight:400;
    font-size: 0.9rem;
}

.f-icon-wrap{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

iframe{
    width:82%;
    height: calc(40% - 2rem);
}

.f-icon-wrap h1{
    margin:0;
}

.f-div2 h4{
    font-weight:500;
    text-align:center;
}

.f-div2 h4 a{
    color:rgb(160, 176, 223);
    margin:0;
}

.mail-div:hover{
    background-color: white;
    color:black;
    cursor:pointer;
}

.f-div1 h3{
    margin:0.5rem 0 1rem 0;
    font-size:1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}


















.icons{
    display:flex;
    height:100%;

}

/* 1. Reset the UL to remove default padding/margin */
.ul-f {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap:1rem;
}

/* 2. Style the Circle */
.ul-f .li-f a {
  width: 2.5rem;        /* Increased size so icons aren't cramped */
  height: 2.5rem;
  background-color: #fff;
  margin: 0;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* 3. Style the Icon */
.ul-f .li-f a .icon {
  font-size: 1.5rem;    /* Adjusted to fit inside the 3.5rem circle */
  color: #262626;
  transition: .5s;
  z-index: 3;
  position: relative;
}

/* 4. Hover effect */
.ul-f .li-f a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.ul-f .li-f a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.ul-f .li-f a:hover:before {
  top: 0;
}

.ul-f .li-f:nth-child(1) a:before{
  background: #25d366;
}

.ul-f .li-f:nth-child(2) a:before{
  background: rgb(221,42,123);
}

.ul-f .li-f:nth-child(3) a:before {
  background: #0077b5;
}






@media (max-width: 900px){

  /* Let footer grow naturally */
  .home6{
    height: auto;
    padding: 2rem;
  }

  .ul-f .li-f:nth-child(1) a{
  background: #25d366;
}

.ul-f .li-f:nth-child(2) a{
  background: rgb(221,42,123);
}

.ul-f .li-f:nth-child(3) a{
  background: #0077b5;
}

.ul-f .li-f a .icon {
  color:white;
}

  .footer-wrap{
    padding: 2rem 1.2rem;
  }

  .f-wrap1{
    flex-direction: column;
    height: auto;
    gap: 3rem;
  }

  .f-vert1,
  .f-vert2{
    width: 100%;
    height: auto;
  }

  /* Fix left column spacing */
  .f-vert1 p,
  .email-wrap{
    width: 100%;
  }

  .f-vert1 h1{
    font-size:3.5rem;
    line-height:5rem;
  }

  /* Stack contact card + map */
  .f-vert2{
    align-items: stretch;
    gap: 2.5rem;
  }

  .f-div1{
    width: 100%;
    height: auto;
  }

  iframe{
    width: 100%;
    height: 280px;
  }

  /* Bottom legal + icons section */
  .f-wrap2{
    margin-top: 2rem;
  }

  .f-div2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .f-icon-wrap{
    flex-direction: column;
    gap: 1.2rem;
  }

  .f-div2 p,
  .f-div2 h3,
  .f-div2 h4{
    text-align: center;
  }
}

